<div class="card">
    <div class="card-header">
        <h4>Edit Profile</h4>
    </div>
    <div class="card-body">
        <div style="margin-top: 50px;">
            <div class="col-md-4"></div>
            <div>
              <div class="form"> 
                <div class="form-group">
                  <label for="">Firstname</label>
                  <input [(ngModel)]="firstname" style="width: 400px;" type="text" class="form-control">
                </div>
                <div class="form-group">
                 <label for="">Lastname</label>
                 <input [(ngModel)]="lastname" style="width: 400px;" type="text" class="form-control">
               </div>
               <div class="form-group">
                 <label for="">Country</label>
                 <input [(ngModel)]="country" style="width: 400px;" type="text" class="form-control">
               </div>
               <div class="form-group">
                 <label for="">City</label>
                 <input [(ngModel)]="city" style="width: 400px;" type="text" class="form-control">
               </div>
               <div class="form-group"> 
                 <label >Building name and flat number</label>
                 <input [(ngModel)]="address" name="first" style="width: 400px;" type="text" class="form-control" id="inputAddress">
               </div>
               <div class="form-group"> 
                 <label >Zip</label>
                 <input [(ngModel)]="zip" style="width: 100px;" type="number" class="form-control" id="inputZip">
               </div>
             </div>
             <div class="form-group"> 
               <label >Phone number</label>
               <input [(ngModel)]="phone_no" style="width: 400px;" type="number" class="form-control" id="inputZip">
             </div>
             <div class="form-group">
              <label for="">Email</label> 
              <input [(ngModel)]="email" type="email" class="form-control">
            </div>
               <div class="form-group">
                 <label for="">Usrename</label>
                 <input [(ngModel)]="Username" style="width: 400px;" type="text" class="form-control">
               </div>
                <div class="form-group">
                  <label for="">Password</label>
                  <input [(ngModel)]="password" style="width: 400px;" type="password" class="form-control">
                </div>
                <br>
                <button (click)="onSave()" class="btn-success btn-sm">Save</button>
    </div>
</div>